@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.slide{
    width: 100%;
    min-height: 100vh;
}

#home{
    background-color: gray;
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-position: center center;
}

header{
    display: flex;
}

header #logo{
    color: white;
    margin-right: 100px;
    padding: 25px;
}

header nav{
    width: 50%;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}

header nav ul li{
    padding: 25px;
}

header nav ul li a{
    color: white;
    text-decoration: none;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
}

#home .wrapper{
    height: 80vh;
    display: flex;
    align-items: center;
}

#jumbotron{
    color: white;
    width: 30%;
}

#jumbotron h3{
    font-size: 20px;
}

#jumbotron h1{
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn{
    display: block;
    background-color: red;
    padding: 10px 20px;
    width:fit-content;
    margin-top: 20px;
    color: white;
    text-decoration: none;
}

#pres{
    display: flex;
    color: white;
}

.gauche{
    width: 50%;
    background-color: black;
}

.droite{
    width: 50%;
    background-color: red;
}

#pres .droite{
    background-image: url(../images/2.jpg);
    background-size: cover;
    background-position: center center;
}

#pres .gauche{
    display: flex;
    align-items: center;
}

hr{
    color: red;
    border: solid 1px red;
    margin: 20px 0;
    width: 15%;
}

blockquote{
    font-style: italic;
    font-weight: bolder;
    margin: 15px 0;
}

#pres ul li
{
    margin: 10px 20px; 
}

#pres p{
    margin: 20px 0;
}